<section class="inner-section">
<div class="container">
<div class="row">
<h1>New Article</h1>

<%= render 'form' %>

<button type="button" class="btn btn-primary"><%= link_to 'Back', articles_path %></button>
</div>
</div>
</section>